@model IEnumerable<TiendaNueva.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCarrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCarrito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarritoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarritoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarritoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
